In [8]:
# Modul gpxpy laden und Dateien damit einlesen (snippets von https://pypi.org/project/gpxpy/)
import gpxpy
import gpxpy.gpx
import pandas as pd

In [28]:
def read_gpx(filename):
    gpx_file = open(filename, 'r')
    gpx = gpxpy.parse(gpx_file)
    return gpx

In [29]:
gpx=read_gpx('activity_zoo.gpx')

In [30]:
def create_df(gpx):
#create a pandas dataframe from a gpx-object
    df_list = []
    for track in gpx.tracks:
        for segment in track.segments:
            for no,point in enumerate(segment.points):
                df_list.append((point.time,point.latitude, point.longitude, point.elevation, point.extensions[0][1].text, point.speed_between(segment.points[no-1])*3.6)) # * 3.6 -> m/ in km/h
    df = pd.DataFrame.from_records(df_list, columns=['time','latitude', 'longitude','elevation', 'heartrate', 'speed'])
    df.loc[0,'speed'] = 0 # correct speed of first item (would be no-1)
    return df

In [31]:
df=create_df(gpx)

In [43]:
df

,time,latitude,longitude,elevation,heartrate,speed
0,2022-03-29 18:29:58+00:00,47.381873,8.571840,610.599976,79,0.000000
1,2022-03-29 18:29:59+00:00,47.381875,8.571839,610.599976,79,0.723684
2,2022-03-29 18:30:04+00:00,47.381872,8.571833,610.599976,78,0.361601
3,2022-03-29 18:30:05+00:00,47.381850,8.571809,610.599976,79,10.943950
4,2022-03-29 18:30:06+00:00,47.381818,8.571783,610.599976,79,14.762307
...,...,...,...,...,...,...
223,2022-03-29 18:36:11+00:00,47.367919,8.545223,413.000000,132,14.948315
224,2022-03-29 18:36:12+00:00,47.367918,8.545187,413.000000,132,9.672669
225,2022-03-29 18:36:13+00:00,47.367955,8.545149,413.000000,132,18.099328
226,2022-03-29 18:36:15+00:00,47.368054,8.545060,413.000000,131,23.268344
227,2022-03-29 18:36:19+00:00,47.368236,8.544907,413.399994,130,20.967506

In [67]:
gpx.get_moving_data()

MovingData(moving_time=365.0, stopped_time=16.0, moving_distance=3656.21994253435, stopped_distance=1.6777610888304357, max_speed=13.545822695796227)

In [61]:
def create_df(gpx):
#create a pandas dataframe from a gpx-object
    df_list = []
    for track in gpx.tracks:
        for segment in track.segments:
            for no,point in enumerate(segment.points):
                df_list.append((point.time,point.latitude, point.longitude, point.elevation, point.extensions[0][1].text,segment.get_speed(no)*3.6)) # * 3.6 -> m/ in km/h
    df = pd.DataFrame.from_records(df_list, columns=['time','latitude', 'longitude','elevation', 'heartrate', 'speed'])
    return df
df2=create_df(gpx)

In [63]:
df2

,time,latitude,longitude,elevation,heartrate,speed
0,2022-03-29 18:29:58+00:00,47.381873,8.571840,610.599976,79,0.796110
1,2022-03-29 18:29:59+00:00,47.381875,8.571839,610.507817,79,0.593171
2,2022-03-29 18:30:04+00:00,47.381872,8.571833,610.304043,78,5.699782
3,2022-03-29 18:30:05+00:00,47.381850,8.571809,609.971245,79,12.950910
4,2022-03-29 18:30:06+00:00,47.381818,8.571783,609.425459,79,20.746178
...,...,...,...,...,...,...
223,2022-03-29 18:36:11+00:00,47.367919,8.545223,413.385409,132,12.254888
224,2022-03-29 18:36:12+00:00,47.367918,8.545187,413.232960,132,13.893858
225,2022-03-29 18:36:13+00:00,47.367955,8.545149,413.211966,132,20.684067
226,2022-03-29 18:36:15+00:00,47.368054,8.545060,413.276732,131,22.116681
227,2022-03-29 18:36:19+00:00,47.368236,8.544907,413.399994,130,20.964709

None

gpx